{%- set use_cdn = False -%}
{%- set css_files = [
    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' if use_cdn else url_for('static', filename='vendors/bootstrap-3.1.0/css/bootstrap.min.css'),
    url_for('static', filename='css/chat.css')
] -%}
{%- set js_files = [
    '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' if use_cdn else url_for('static', filename='vendors/jquery.js'),
    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' if use_cdn else url_for('static', filename='vendors/bootstrap-3.1.0/js/bootstrap.min.js'),
    url_for('static', filename='js/template_controller.js'),
    url_for('static', filename='js/ws.js'),
    url_for('static', filename='js/handler.js'),
    url_for('static', filename='js/chat.js')
] -%}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hanashi</title>

    {%- for css_file in css_files -%}
        <link href="{{ css_file }}" rel="stylesheet">
    {%- endfor -%}
</head>
<body class="overlay-enabled">
    <div class="app">
        <div class="attendees">
        </div>
        <div class="conversation">
            <form class="message new">
                <div class="sender">Me</div>
                <div class="content">
                    <textarea name="message" rows="3" required></textarea>
                    <button class="btn btn-default">Send</button>
                </form>
            </div>
        </div>
    </div>

    <div class="overlay">
        <form class="dialog login">
            <input name="sname" size="30" minlength="30" maxlength="30" placeholder="What is your screen name?" autofocus="true" disabled/>
            <button class="btn btn-primary" disabled>Login</button>
        </form>
        <div class="dialog reconnection">
            <h3>Lost connection!</h3>
            <button type="button" class="btn btn-danger" onclick="history.go(0);">Reconnect (Reload the page)</button>
        </div>
    </div>

    <script type="text/html" data-name="message">
        <div class="message">
            <div class="sender"></div>
            <div class="content"></div>
        </div>
    </script>

    <script type="text/html" data-name="attendee">
        <div class="attendee">
            <div class="status"></div>
            <div class="alias"></div>
            <div class="email"></div>
        </div>
    </script>

    {%- for js_file in js_files -%}
        <script src="{{ js_file }}"></script>
    {%- endfor -%}
</body>
</html>